@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root {
    --purple: #6C63FF;
    --black: #252525;
    --white: #F7F7F7;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    background: transparent;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
main {
    width: 100vw;
    height: 100vh;
}
button {
    cursor: pointer;
}



/* Text */
h1 {
    font-family: Kanit;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
h2 {
    font-family: Kanit;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 24px */
}
h3 {
    color: var(--black, #252525);
    font-family: Kanit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
}
h4 {
    font-family: Kanit;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 18px */
}
/* ----- */

/* display */
/* display - justifyContent - alignItems - flexDirection*/

/*row*/
.f-c-c-r {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.f-c-s-r {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.f-c-e-r {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
}

.f-s-c-r {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.f-s-s-r {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.f-s-e-r {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
}

.f-e-c-r {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.f-e-s-r {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
}

.f-e-e-r {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
}

.f-sb-c-r {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.f-sb-s-r {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.f-sb-e-r {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
}


/*column*/
.f-c-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.f-c-s-c {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.f-c-e-c {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.f-s-c-c {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.f-s-s-c {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.f-s-e-c {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
}

.f-e-c-c {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.f-e-s-c {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.f-e-e-c {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.f-sb-c-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.f-sb-s-c {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.f-sb-e-c {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}
/* ------- */
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.show-f {
    display: flex !important;
}