.main-wrapper {
    width: 96%;
    max-width: 750px;
    padding-top: 40px;
    gap: 40px;
    height: 100%;
    overflow: hidden;
}

.main__content {
    height: 100%;
}

.main__research,
.main__content,
.research-elements {
    width: 100%;
}

.main__research {
    gap: 16px;
}

.classic-input {
    all: unset;
    display: block;
    box-sizing: border-box;
    padding: 8px 16px;
    width: 100%;
    border: 1px solid var(--purple);
    border-radius: 5px;
    height: 38px;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}


.classic-input::placeholder {
    color: #C3C1E5;
}

.empty-block {
    gap: 20px;
    display: flex;

}

.empty-block img {
    width: 221px;
}

.notes-wrapper {
    gap: 17px;
    height: 80%;
    overflow-y: auto;
}

.note {
    width: 100%;
}

.note__cac input {
    all: unset;
    width: 26px;
    height: 26px;
    display: block;
    border: 1px solid var(--purple);
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}

.note__cac input:checked {
    background-color: var(--purple);
}

.note__cac input:checked+h3 {
    text-decoration: line-through;
    color: rgba(37, 37, 37, 0.50);
}

.note__cac input:checked::after {
    position: absolute;
    content: "✔";
    left: 7px;
    top: 6px;
    color: white;
    font-size: 16px;
    z-index: 3;
}

.note__cac {
    gap: 17px;
}

.note__btns {
    gap: 10px;
}

.note__btns button {
    cursor: pointer;
}

.note button img {
    width: 18px;
    height: 18px;
}

.note-line {
    width: 100%;
    height: 1px;
    background-color: var(--purple);
}

.add-note {
    width: 50px;
    height: 50px;
    background-color: var(--purple);
    border-radius: 100%;
    position: absolute;
    bottom: 32px;
    align-self: flex-end;
}

.add-note img {
    width: 24px;
}

.new-note-window,
.edit-note-window {
    gap: 25px;
    width: 500px;
    height: 290px;
    padding: 30px;
    border-radius: 16px;
    background-color: var(--white);
    position: fixed;
    top: 15%;
    z-index: 1001;
    display: none;
}

.new-note__content,
.edit-note__content {
    width: 100%;
    height: 100%;
}

.new-note__buttons,
.edit-note__buttons {
    width: 100%;
}


.new-note__btn,
.edit-note__btn {
    display: inline-flex;
    padding: 10px 22px;
    border-radius: 5px;
    gap: 10px;
    font-family: Kanit;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 18px */
    text-transform: uppercase;
}

.new-note__cancel .edit-note__cancel {
    border: 1px solid var(--purple);
    color: var(--purple);
}

.new-note__apply,
.edit-note__apply {
    background-color: var(--purple);
    color: var(--white);
}

.overlay {
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: none;
}

.note-edit {
    width: 24px;
    height: 24px;
    background: url("../img/edit.png") no-repeat center/contain;
    border: none;
    cursor: pointer;
}

.note-edit:hover {
    background-image: url("../img/edit-hover.png");
}

.note-delete {
    width: 24px;
    height: 24px;
    background: url("../img/delete.png") no-repeat center/contain;
    border: none;
    cursor: pointer;
}

.note-delete:hover {
    background-image: url("../img/delete-hover.png");
}